<div class="blog">
    <div class="blog-header">
        <h3><a href="/post/{{id}}">{{title}}</a></h3>
               <p>posted by {{user.username}} on {{format_date created_at}}</p>
    </div>
    <div class="blog-body">
         <p>{{post_text}}</p>
    </div>
</div>